body {
    background-image: url("../images/dark-honeycomb.png");
    margin: 0;
    padding-bottom: 5%;
}

.col-md {
    width: 50%;
    float: left;
}

h1 {
    background-color: #4aaaa5;
    border: #cccccc;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 30px;
    text-align: center;
    width: 250px;
    height: 100%;
    margin-left: 190px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header {
    background-color: white;
    border-bottom: solid 2px #cccccc;
    width: 100%;
    height: 15%;
    overflow: auto;
}

header.after {
    clear: both;
}

div.whitebox {
    position: relative;
    border: 1px solid #dddddd;
    background-color: white;
    width: 928px;
    margin: auto;
    margin-top: 5%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    overflow: auto;
    margin-bottom: 5%;
}

div:after {
    clear: both;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: auto;
    text-align: left;
    padding: 30px;
    border-bottom: 3px solid #dddddd;
}

form {
    padding-top: 20px;
}

label {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

textarea {
    width: 97.5%;
    padding: 12px 10px;
    margin: 8px 0;
    height: 150px;
    border: 1px solid #ccc;
    
}

input[type=text] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

input[type=submit] {
    width: 15%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

img {
    padding: 20px;
}

ul {
    text-align: right;
    float: right;
    list-style-type: none;
    margin: 0px;
    margin-right: 175px;
    padding: 25px;
    overflow: hidden;
    height: 100%;
}

li {
    float: right;
    border-inline-end-style: solid;
    border-inline-end-color: #c2c2c2;
    border-inline-end-width: .25px;
}

li:first-child {
    border:none;
}

li a {
    display: inline-block;
    text-align: center;
    color: #777777;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    background-color: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    padding-top: 8px;
    margin-top: 10%;
    color: #c2c2c2;
    width: 100%;
    height: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
}

@media screen and (max-width:980px) {
    div.whitebox {
        width: 75%;
    }

    

   h1 {
       margin-left: 25px;
       
   }

   ul {
       margin-right: 25px;
       width: 100%;
   }
}

@media screen and (max-width:768px) {
    div.whitebox {
        width: 85%;
    }

    .col-md {
        width: initial;
    }

    h1 {
        margin-right: 15px;
    }

    ul {
        width: 100%;
    }
}

@media screen and (max-width:640px) {
    div.whitebox {
        width: 90%;
    }

    header {
        position: static;
    }

    .col-md {
        width: initial;
    }

    h1 {
        display: block;
        width: 100%;
        overflow: auto;
        margin-left: 0;
        text-align: center;
    }

    ul {
        display: block;
        width: 100%;
    }


}