body {
    background-image: url("../images/dark-honeycomb.png");
    margin: 0;
}

h1 {
    background-color: #4aaaa5;
    border: #cccccc;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 30px;
    text-align: center;
    width: 18%;
    height: 100%;
    margin-left: 190px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header {
    background-color: white;
    border-bottom: solid 2px #cccccc;
    width: 100%;
    height: 15%;
    overflow: auto;
}

header.after {
    clear: both;
}

div {
    border: 1px solid #dddddd;
    background-color: white;
    width: 928px;
    margin: auto;
    margin-top: 5%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom; 20px;
}

div:after {
    clear: both;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: auto;
    padding: 30px;
    border-bottom: 3px solid #dddddd;

}

p {
    padding: 15px;
    color: #777777;
    line-height: 2;
}

img {
    float: left;
    padding: 25px;
}

ul {
    text-align: right;
    float: right;
    list-style-type: none;
    margin: 0px;
    margin-right: 175px;
    padding: 25px;
    overflow: hidden;
    height: 100%;
}

li {
    float: right;
    border-inline-end-style: solid;
    border-inline-end-color: #c2c2c2;
    border-inline-end-width: .25px;
}

li:first-child {
    border:none;
}

li a {
    display: inline-block;
    text-align: center;
    color: #777777;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    background-color: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    margin-top: 10%;
    color: #c2c2c2;
    width: 100%;
    height: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
}

@media screen and (max-width:980px) {
    div {
        border: 1px solid #dddddd;
        background-color: white;
        width: 928px;
        margin: auto;
        margin-top: 5%;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom; 20px;
    }
}

@media screen and (max-width:768px) {
    div {
        border: 1px solid #dddddd;
        background-color: white;
        width: 600px;
        margin: auto;
        margin-top: 5%;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom; 20px;
        margin-bottom: 15%;
    }

    h1 {
        background-color: #4aaaa5;
        border: #cccccc;
        color: white;
        font-family: 'Georgia', Times, Times New Roman, serif;
        padding: 30px;
        text-align: center;
        width: 18%;
        height: 100%;
        margin-left: 10%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    ul {
        text-align: right;
        float: right;
        list-style-type: none;
        margin: 0px;
        margin-right: 10%;
        padding: 25px;
        overflow: hidden;
        height: 100%;
    }

}

@media screen and (max-width:640px) {
    
    
    div {
        border: 1px solid #dddddd;
        background-color: white;
        width: 400px;
        margin: auto;
        margin-top: 5%;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom; 20px;
        margin-bottom: 15%;
    }

    img {
        float: left;
        padding: 25px;
        height: 250px;
        width: 350px;
    }

    h1 {
        background-color: #4aaaa5;
        border: #cccccc;
        color: white;
        font-family: 'Georgia', Times, Times New Roman, serif;
        padding: 30px;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 0;
        overflow: auto;
        position: static;
        top: 0;
    }

    ul {
        text-align: center;
        list-style-type: none;
        padding: 25px;
        height: 100%;
        width: 100%;
        display: inline-block;
        background-color: white;
        margin: 0;
    }

    li {
        text-align: center;
        border-inline-end-style: solid;
        border-inline-end-color: #c2c2c2;
        border-inline-end-width: .25px;
    }

    header {
        position: static;
    }
}

